<script src="https://kit.fontawesome.com/a6a936530c.js" crossorigin="anonymous"></script>
<footer>

<p id="rua">
<a href="/contato" target="_blank"> <i class="fa-solid fa-location-dot"></i> Rua Maria Jailda Aragão Barroso, 685 - Jardim Centenário - Aracaju/SE </a>

</p>
<p id="instagram">
    <img src="https://media.discordapp.net/attachments/971174597661691918/972681777565028432/unknown.png">
    <a href= "https://www.instagram.com/may_atelie/" target="_blank">
    Aproveite e siga-nos no instagram
</a>
</p>
<p id="autor">
    <img src="https://media.discordapp.net/attachments/971174597661691918/972682788690096178/unknown.png">
    Criado por: <a href="https://www.linkedin.com/in/darlan-souza-santos-173b5b121/" target="_blank"> Darlan Souza</a>
</p>


</footer>