<footer>
<p id="rua">
<a href="/contato" target="_blank"> Rua Maria Jailda Aragão Barroso, 685 - Jardim Centenário - Aracaju/SE </a>

</p>
<p id="instagram">
    Aproveite e siga-nos no instagram
</p>


</footer>