<header>
<!-- <h1>Header</h1> -->
<img id="logo" src="/image/logo.png" />
<h1>Ateliê</h1>
<nav> 

    <ul>
        <a> <li> Home </li> </a>
        <a> <li> Criar </li> </a>
        <a> <li> Contato </li> </a>
    </ul>
</nav>

</header>