<div class="sub__header">  Entregamos para todo Brasil ~ <i class="fa-solid fa-truck"></i> </div>
<header>
<script src="https://kit.fontawesome.com/a6a936530c.js" crossorigin="anonymous"></script>

<img id="logo" src="/image/logo.png" />
<h1 id="h1">Ateliê</h1>
<nav> 
    
    <ul>
        
        <a href="/"> <li>  Home </li> </a>
        
        <a href="/signup"> <li>  Cadastrar </li> </a>
        
       <a href="https://shopee.com.br/may_atelie?categoryId=100017&itemId=15680276974" target="_blank"> <li>  Loja Oficial </li> </a>


    </ul>
</nav>

</header>
