<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
<main>

    <div id="iframe">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1958.8537168589046!2d-37.115078564942465!3d-10.909824793664598!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x71ab2e9670a4f25%3A0x5ab31cfc165122bb!2sR.%20Maria%20Jailda%20Arag%C3%A3o%20Barroso%2C%20685%20-%20Jardim%20Centenario%2C%20Aracaju%20-%20SE%2C%2049090-026!5e0!3m2!1spt-BR!2sbr!4v1651803449763!5m2!1spt-BR!2sbr"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</main>
<%- include('./partials/footer.ejs') %>
</body>
</html>


